
main{
    margin: 100px;
    font-family: 'Nunito', bold, sans-serif;

}
h1{
    display: flex;
    justify-content: center;
    font-size:xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 80px;
}
.content1{
    display: flex;
    flex-direction: row;
}
.content2{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
.icons{
  height: 40px;
  width: 40px;
  margin: 5px;
}
#iconsRight{
  display: flex;
  justify-content: right;
}
.imgIcons{
  display: flex;
  flex-direction: row;
}

.imgContact{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    box-shadow:  2px 2px 2px 2px  #101010a5;

}
.imgContact:hover{
  box-shadow: 5px 5px 37px 10px #000000;}

.contactText{
    display: flex;
    flex-direction: column;
    margin:20px;
    padding-top: 20px;
}

.name{
    font-size:xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    
}
.modal-body{
  text-align: left;
}


  @media (max-width: 768px) {
    .content1, .content2{
      max-width: 720px;
      flex-direction: column;
      align-items:center ;
      margin: 20px;
    }
    .content2{
        text-align: left;
    }
  }
  @media (max-width: 576px) {
    .content1, .content2 {
      max-width: 540px;
      flex-direction: column;
      align-items: center;
      margin: 20px;
    }
    .content2{
        text-align: left;
    }
  } 
