* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
    body {
        font-family: 'Inter', sans-serif;
        background: #C5C5C5;
    }
    .nav-item >  p {
        font: 14px white;
    }

    /* Barra de navegação*/
    #navbar , #footer {
        background-color: #27292C !important;
    }  
    #logo {
        width: 180px;
    }
    .nav-link {
        color: #fff;
        font-family: 'Nunito', sans-serif;
    }
    .nav-link:hover{
        color: #F6CA06;
    }
    .nav-link:hover{
        color:#F6CA06;
    }
    #iconLogin{
        width: 15px;
        height:20px;
        margin-right: 5px;
    }
    .navbar-collapse{
       flex-grow:0 !important; 
    }
    .navbar-toggler{
        background-color: #fff !important;
    }
    
    /* Rodapé  */
    .footer{
        color: white;
        text-align: center;
        padding-top: 20px;
    }
