main{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', bold, sans-serif;
}

/* ------------Banner inicial home   */
.content1 {
    display: flex;
    justify-content: center;
    margin-top:10px;
}
.content1 img{
    width: 900px;
    height: 300px;
}

/* --------------- Titulo e subtitulo  */
.title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 100px;
    background-color: #464646;

}
.title > h1 {
    color: white;
    display:flex;
    align-items: center;
}
.sub-title {
    font-family: 'Nunito', bold, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    height: 140px;
    background-color: #343232;

}
.text{
    color: white;
    display:flex;
    justify-content: center;
}

/* ------------Cards centrais  */
.content2{
    display: flex;
    flex-direction: row;
}

.content2 h4, p{
    text-align: center;
}
.content2 h4{
    padding-bottom: 30px;
    font-weight: bold;
}
.card1, .card2, .card3{
    margin: 60px;
    background: #b37ef5;
    padding: 30px;
    border-radius: 20px;
}
.textCard{
    font-size: larger;
}

/* -------------- Apresentação Toninho  */
.content3{
    display: flex;
    flex-direction: row;
}
.square1 , .square2{
    text-align: center;
    font-size: larger;
}
.square1 h3{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
}
.square2{
    margin:100px;
}
.square2 button{
    background: #b37ef5;
    height: 60px;
    width: 220px;
    margin: 40px;
    border-radius: 20px;
}
.square2 button:hover{
    background-color: #464646;
}
.square2 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* ------------- Responsividade  */
/* ----------- Textos  */
@media (max-width: 992px) {
    .content2, .content3 {
      max-width: 960px;
      flex-direction: column;
      margin:0;
    }
    .title,.sub-title{
      max-width: 960px;
    }
  }
  @media (max-width: 768px) {
    .content2, .content3{
      max-width: 720px;
      flex-direction: column;
      margin:0;
    }
    .title, .sub-title{
      max-width: 720px;
    }
  }
  @media (max-width: 576px) {
    .content2, .content3 {
      max-width: 540px;
      flex-direction: column;
      margin:0;
    }
    .title, .sub-title{
      max-width: 540px;
    }
  } 

/* ------------ Banner  */
@media (max-width: 992px){
.content1 > img{
    max-width: 500px;
    height: 200px;
}
}
@media (max-width: 768px){
.content1 > img{
        max-width: 400px;
        height: 150px;
}
}
@media (max-width: 576px){
.content1 > img{
        max-width: 350px;
        height: 130px;
}
}    

/* ------------ Imagem Toninho */
@media (max-width: 992px){
    .square1 > img{
        max-width: 500px;
        height: 500px;
    }
    }
    @media (max-width: 576px){
    .square1 > img{
            max-width: 350px;
            height: 350px;
    }
    }
