*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-login{
    display: flex;
    width: 100%;
    max-width: 1120px;
    margin: 50px auto;
    border: solid #9471C1;
    border-radius: 20px;
    overflow: hidden;
    
}

.voando{

    width: 100%;
    max-width: 553px;

}

.content{
    display: flex;
    width: 100%;
    max-width: 553px;
    align-items: center;
    flex-direction: column;
   
}

.content img{
    width: 10%;
}

.titleLogin{
    margin: 20px;
    font-size: 32px;
    width: 100%;
    line-height: 20px;
    padding-left: 10px;
}

.form-login{
    width: 100%;
    max-width: 400px;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    border: solid #9471C1;
    
}

.form-login h2{
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    margin-bottom: 50px;
    color: #9471C1;
}
.form-login a{
    width: 100%;
    display: flex;
    justify-content: end;
    text-decoration: none;
}
.input{
    width: 100%;
    margin: 20px;
    padding-left: 10px;
    border-radius: 20px;
    border-bottom: solid;
}
.btn{
    width: 100%;
    height: 50px;
    max-width: 200px;
    margin-top: 10px;
    background: #4834D4;
    border-radius: 8px 20px;
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.btn a{
    justify-content: center;
    text-decoration: none;
    color: white;
    
}

.olho {
    display: flex;
    position: relative;
    bottom: 50px;
    align-self: flex-end;
    cursor: pointer;
    
  }
  .custom-input {
    border-color: green !important;
  }
  
  .custom-error {
    border-color: red !important;
    color: red !important;
    display: inline-block !important;
  }

  

@media screen and (max-width: 500px){
    .voando{
        display: none;
    }
    main{
        height: 83vh;
    }
}