*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

/* Adicionando estilização ao meu container */
.container-recovery{
    width: 100%;
    max-width: 1120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ajustando tamanho da imagem */
.img-recovery{
    width: 100%;
    max-width: 625px;
}

/* Ajustando tudo o que tiver dentro da class content para que fique alinhada com os outros itens */
.content{
    width: 100%;
    max-width: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Ajustando tudo o que tiver dentro da class do formulário para que fique alinhada com os outros itens */
.form-recovery{
    width: 100%;
    max-width: 405px;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    padding-top: 50px;
    margin-top: -50px;
}

/* Editando o titulo que fica dentro do forms */
.title-recovery{
    font-family: 'Orbitron', sans-serif;
    color: #4834D4;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}

/* Editando o botão de enviar */
.btn{
    width: 100%;
    height: 50px;
    max-width: 200px;
    margin: 40px;
    background: #4834D4;
    border-radius: 8px 20px;
    color: #ffff;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Inter', sans-serif;
}

/* Colocando a imagem de cadeado pra cima do forms */
.cadeado{
    z-index: 1;
}

/* Editando o estilo dos inputs */
.input{
    width: 100%;
    max-width: 350px;
    padding-left: 5px;
    border-bottom: 1px solid #9471C1;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    
}

.ou{
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: #4834D4;
    font-weight: bold;
    margin: 20px 0px 0px;
}


/* Aqui está sendo configurada a responsividade. */
@media screen and (max-width: 500px){
    .img-recovery{
        display: none;
    }

    body {
        height: 700px;
        width: 100%;  
            
    }

    .container-recovery{
        height: 747px;
        width: 100%!important;
    }

}

