/* ----------------- Gerais  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', bold, sans-serif;
}
main > h1{
    margin: 20px 0px;
    text-align: center;
}

html, body{
    height: 100%;
}
/* ------------- Titulo  */
h6{
    font-weight: bold;
    font-size: larger;
}
/* ---------- Container com os cards  */
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img{
    height: 250px;
    width: 210px;
}
/* ---------- Cards e efeito flip */
.card{
    position: relative;
    height: 348px;
    width: 250px;
    margin: 20px;
}
.card .flip{
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.card:hover .flip {
    transform: rotateY(180deg);
}

.frontCard, .backCard{
    backface-visibility: hidden;
}
.backCard{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
} 
.frontCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 20px;

}
.backCard h3{
    font-weight: bold;
    font-size: larger;
}

/* ------- Cores e estilização em cada card  */
#card1{
    background-color: #F6EF46;
    border: solid #3C3E03;
    border-radius: 10px;     
}
#card2{
    background-color: #B99AE0;
    border: solid #6A00F0;
    border-radius: 10px;  
}
#card3{
    background-color: #7DABF0;
    border: solid #005FED;
    border-radius: 10px;  
}
/* ------------ Botões redicionamento Inscreva-se  */
.btn{
    padding-left: 47px;
    padding-right: 47px;
    margin-bottom: 20px;
}
.btnCard{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: solid #212529;
}
.btn button:hover{
    background-color: #6d6d6d;
}
.btnCard a{
    text-decoration: none;
    color: #212529;
    font-weight: bold;
}
/* ------------ Responsividade  */
@media (max-width: 992px) {
    .content2, .content3 {
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }
@media (max-width: 768px) {
    .container{
      max-width: 720px;
      flex-direction: column;
      align-items:center ;
    }
  }
  @media (max-width: 576px) {
    .container{
      max-width: 540px;
      flex-direction: column;
      align-items: center;
    }

  }
}